p{ 	color:"red";

    text-align: center;
	
	font-size: 36;
	text-shadow: 4PX 4PX 8px red;
	font-family: "serif";
	

	}
	
	h3{ 	color:"Green";
  
	
	font-size: 36;
	text-shadow: 4PX 4PX 8px green;
	}
	input{
	border-width:4px;
	border:double;
	margin:10px;
		

	}